*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(134, 201, 225);
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
        height: 70%;
        width: 20%;
        background-color: #fff;
        border-radius: 10px;

        img{
            height: 220px;
            width: 90%;
            border-radius: 10px;
            padding-top: 15px;
            padding-left: 17px;
            background-size: cover;
            object-fit: cover;
        }

        h2{
            text-align: center;
            font-size: 17px;
            padding: 18px;
        }
        p{
            font-size: 15px;
            text-align: center;
            padding-left: 18px;
            padding-right: 18px;
            color: #686666;
        }
    }